/* Global Variables */
:root {
  --background: #30393e;
  --text: #c6c4ba;
  --secondary: #000;
  --tertiary: #9d9b9c;
}

/* html and body styles */
* {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
  overflow-x: hidden;
}

body {
  width: 99%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 100%;
  font-weight: inherit;
  line-height: 1.2em;
}

/* Navigation Styles */

nav {
  width: 95%;
  margin: 0 auto;
}

nav ul {
  display: none;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  line-height: 1.6em;
  color: var(--text);
}

a#navicon:hover + ul,
nav ul:hover {
  display: block;
}

#mainLogo {
  width: 100%;
}

#headerFlag {
  width: 15%;
}

/* Headings */
h1,
h2 {
  font-size: 2.3em;
  line-height: 1.1em;
  font-family: Alkatra, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.8em;
}

/* Hero Section */

.ship {
  position: relative;
  width: 130%; /* Makes image wider than viewport */
  max-width: none; /* Prevents constraining to parent width */
  left: -30%; /* Shifts image left to focus on rocket */
  overflow-x: hidden; /* Prevents horizontal scroll */
  object-fit: cover; /* Maintains aspect ratio */
  object-position: left; /* Focuses on left side where rocket is */
}

/* Body Styles */
#shacklesMap {
  width: 100%;
  margin: 0;
}

.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 -4px 8px #ffff(0, 0, 0, 0.2);
  padding: 20px;
}

.container2 img {
  width: 100%;
  border-radius: 10px;
}

.container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, #30393e 0%, black 100%);
}

.container3 img {
  width: 100%;
}

.container4 {
  background: black;
  background-image: url("/shackles/static/images/bane_flag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  justify-content: space-between;
}

.container4 img {
  width: 100%;
}

.container5 > div {
  flex: 1;
  width: 100%;
}

.finn,
.kasmira,
.red,
.varen {
  display: none; /* Hidden by default */
  position: absolute; /* Positioned absolutely */
  max-width: 450px;
  top: 10%; /* Centered vertically */
  left: 35%; /* Centered horizontally */
  transform: translate(-50%, -50%); /* Offset the centering */
  z-index: 10; /* Higher z-index to ensure they appear above other content */
}

#red,
#finn {
  display: flex;
  flex-direction: column-reverse;
}

.empty {
  height: 200px;
}

/* Quote Styles IN MAIN */
blockquote {
  margin: 10px 10px 20px 30px;
}

blockquote::before {
  content: open-quote;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6em;
  font-weight: bold;
}

blockquote::after {
  content: close-quote;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6em;
  font-weight: bold;
}

/* Adventure Log Styles */
.blog {
  width: 100%;
  border-bottom: 1px solid black;
}

.blog img {
  width: 100%;
}

.blog h2 {
  text-align: start;
  font-size: 1.4em;
}

.buttonsdiv {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 28px;
  border: 1px solid var(--text);
  cursor: pointer;
}

.jumpbtn button {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 20px;
  border: 1px solid var(--text);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-family: Alkatra, Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 60px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding-left: 25px;
  text-decoration: none;
  display: block;
  border: 1.5px solid var(--background);
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: 1px solid var(--text);
}

.dropdown:hover .dropbtn {
  background-color: var(--tertiary);
}

/* Adventure Log on Main Page ALL IN */

.blog2,
.blog3 {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
}

.blog2 img {
  display: none;
  margin: auto;
}

.blog3 img {
  width: 48%;
}

/* Dice Roller Styles */
input[type="number"] {
  width: 50px;
}

.dice {
  width: 75%;
  padding: 10px;
  border-bottom: 1px solid black;
  margin: auto;
}

.dicePic {
  width: 250px;
  float: right;
  border-radius: 125px;
  margin-right: 320px;
}

#total,
#clearResults {
  margin-left: 10%;
}

/* Rules Styles */

.rules {
  width: 75%;
  padding: 10px;
  border-bottom: 1px solid black;
  margin: auto;
}

.rules li.primary {
  text-transform: uppercase;
  list-style-type: upper-roman;
}

.rules li.second,
li.tert,
li.quar {
  text-transform: none;
}

.rules li.second {
  list-style-type: upper-alpha;
}

.rules li.tert {
  list-style-type: decimal;
}

.rules li.quar {
  list-style-type: lower-alpha;
}

/* footer styles (All in new) */
#foot {
  display: flex;
  background-color: var(--tertiary);
  color: var(--background);
  justify-content: center;
  align-items: center;
  clear: both;
}

#footLink {
  color: var(--background);
}

#footerFlag {
  width: 20%;
  margin: 5px;
}

#foot2 {
  display: flex;
  background-color: var(--tertiary);
  color: var(--background);
  justify-content: center;
  font-family: Alkatra, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1000px) {
  #mainLogo {
    width: 28%;
  }

  /* Navigation Styles */

  a#navicon {
    display: none;
  }

  #navicon:hover + ul,
  nav ul:hover {
    display: flex;
  }

  nav ul {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
  }

  nav ul li {
    line-height: 1.5em;
    width: 100%;
    margin-left: -2.5%;
  }

  .navFirst ul li a {
    color: var(--text);
    display: block;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.8em;
    font-weight: bold;
  }

  .navFirst li a:active,
  .navFirst li a:hover {
    background-color: var(--tertiary);
    color: black;
  }

  #headerFlag {
    width: 5%;
    margin-left: -2%;
    z-index: 100;
  }

  /* Hero Styles */

  .ship {
    display: none;
  }

  .index-only {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/shackles/static/images/heroAlt.jpg") no-repeat center
      center/cover;
  }

  .hero {
    width: 60%;
    min-height: 80vh;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .heroWelcome {
    color: var(--text);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px; /* Ensure margin below the content */
  }

  /* Button Styles */
  button {
    margin: 20px 0 30px 25px;
    width: 250px;
    height: 40px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    font-family: Alkatra, Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: var(--text);
    background-color: var(--background);
  }

  /* Body Styles */

  .container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 -4px 8px #ffff(0, 0, 0, 0.2);
    border: 0.25px solid #dcdcdc;
    background: linear-gradient(to bottom, black 0%, #30393e 100%);
    padding: 20px;
  }

  #shackles {
    width: 50%;
    padding: 0 30px;
  }

  #shacklesMap {
    width: 100%;
  }

  .container4 {
    display: flex;
    background-size: 45%;
    flex-direction: column;
  }

  .container4 {
    background: black;
    background-image: url("/shackles/static/images/bane_flag.png");
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 40%;
    justify-content: space-between;
  }

  .container4 img {
    width: 40%;
    opacity: 0;
    cursor: pointer;
    min-height: 330px;
  }

  .subCon1 figure {
    display: flex;
    width: 30%;
    margin: 25px;
    align-items: center;
  }

  .subCon2 figure {
    display: flex;
    width: 30%;
    margin: 25px 0;
    align-items: center;
  }

  .subCon1 img,
  .subCon2 img {
    box-shadow: 10px 25px 30px 0px rgba(128, 128, 128, 0.6);
    margin: 10px;
  }

  .subCon1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
  }

  .subCon2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #red,
  #finn {
    display: flex;
    flex-direction: row; /* Align items in a row to fix column-reverse from mobile */
  }

  #red figcaption,
  #finn figcaption {
    text-align: right;
  }

  figcaption {
    font-size: 1.3em;
    font-family: Alkatra, Verdana, Geneva, Tahoma, sans-serif;
  }

  @keyframes pop {
    from {
      transform: scale(0.8) translateY(50px);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }

  .pop {
    animation: pop 0.5s ease-in-out forwards;
  }

  figure:hover + img {
    display: block;
  }

  .empty {
    height: 0;
  }

  .container5 {
    display: flex;
  }

  /* Adventure Log on Main Page */

  .blog3 img {
    width: 30%;
  }

  /* Adventure Log Styles */

  .blog {
    width: 70%;
    padding: 10px;
    border-bottom: 1px solid black;
    margin: auto;
  }

  .blog .left {
    float: left;
    width: 35%;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .blog .right {
    float: right;
    width: 35%;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  /* Footer Styles */
  #footerFlag {
    margin: 20px 40px;
  }
}
