@charset "utf-8";

/*
   Reset style sheet
   date: 3/10/23
*/

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;  
}

body {

   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   vertical-align: baseline;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

