{% extends "base.html" %}

{% block title %}PathSix Dice Roller{% endblock %}

{% block meta_description %}<meta name="description" content="Dice roller page for any game. d4, d6, d8, d10, d20 or d100 dice rolls.">{% endblock %}

{% block content %}
    <main class="diceMain">
        <h1>Dice Roller</h1>
        <div class="dice">
            <h3>Roll d4</h3>
            <p>How many would you like to roll?</p>
            <input type="number" id="d4Num" value="1" min="1">
            <button class="roll-button" data-type="d4">Roll</button>
            <h3 id="d4Results">Results:</h3>
            <h3 id="d4Total"></h3>
        </div>
    
        <div class="dice">
            <h3>Roll d6</h3>
            <p>How many would you like to roll?</p>
            <input type="number" id="d6Num" value="1" min="1">
            <button class="roll-button" data-type="d6">Roll</button>
            <h3 id="d6Results">Results:</h3>
            <h3 id="d6Total"></h3>
        </div>
    
        <div class="dice">
            <h3>Roll d8</h3>
            <p>How many would you like to roll?</p>
            <input type="number" id="d8Num" value="1" min="1">
            <button class="roll-button" data-type="d8">Roll</button>
            <h3 id="d8Results">Results:</h3>
            <h3 id="d8Total"></h3>
        </div>
    
        <div class="dice">
            <h3>Roll d10</h3>
            <p>How many would you like to roll?</p>
            <input type="number" id="d10Num" value="1" min="1">
            <button class="roll-button" data-type="d10">Roll</button>
            <h3 id="d10Results">Results:</h3>
            <h3 id="d10Total"></h3>
        </div>
    
        <div class="dice">
            <h3>Roll d12</h3>
            <p>How many would you like to roll?</p>
            <input type="number" id="d12Num" value="1" min="1">
            <button class="roll-button" data-type="d12">Roll</button>
            <h3 id="d12Results">Results:</h3>
            <h3 id="d12Total"></h3>
        </div>
    
        <div class="dice">
            <h3>Roll d20</h3>
            <p>How many would you like to roll?</p>
            <input type="number" id="d20Num" value="1" min="1">
            <button class="roll-button" data-type="d20">Roll</button>
            <h3 id="d20Results">Results:</h3>
            <h3 id="d20Total"></h3>
        </div>

        <div class="dice">
        <h3>Roll Percentile</h3>
        <p>How many would you like to roll?</p>
        <input type="number" id="percentileNum" value="1" min="1">
        <button class="roll-button" data-type="percentile">Roll</button>
        <h3 id="percentileResults">Results:</h3>
        <h3 id="percentileTotal"></h3>
        </div>
    
        <h3 id="total">Total of All Rolls: 0</h3>
    
        <br>
        <button id="clearResults">Clear Results</button>
        
    </main>
    {% block scripts %}<script src="{{ url_for('static', filename='js/diceRoller.js') }}"></script>{% endblock %}
    

{% endblock %}