{% extends "base.html" %}

{% block title %}PathSix Games Rules Page{% endblock %}

{% block meta_description %}<meta name="description" content="Rules page for PathSix Games.">{% endblock %}

{% block content %}
    <main class="rules">
        <h1>House Rules and Clarifications</h1>
        <ol>
            <li class="primary">No third party products</li>
            <li class="primary">Character creation
                <ol>
                    <li class="second">Point build
                        <ol>
                            <li class="tert">25 point, place as desired, then apply racial bonus.</li>
                            <li class="tert">Initial Stats (Before racial traits) must be between 10 and 17.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="primary">Allowed races
                <ol>
                    <li class="second">Core races only.</li>
                    <li class="second">No Featured Races.</li>
                    <li class="second">No Uncommon or Custom races.</li>
                </ol>
            </li>
            <li class="primary">Gestalt (we will be playing Gestalt)
                <ol>
                    <li class="second">Banned classes
                        <ol>
                            <li class="tert">Summoner</li>
                            <li class="tert">Undead Lord</li>
                            <li class="tert">Medium</li>
                            <li class="tert">Mesmerist</li>
                            <li class="tert">Occultist</li>
                            <li class="tert">Psychic</li>
                            <li class="tert">Spiritualist</li>
                            <li class="tert">Antipaladin</li>
                            <li class="tert">Ninja</li>
                            <li class="tert">Samurai</li>
                            <li class="tert">Assassin</li>
                            <li class="tert">Any Prestige Class that advances two other classes (e.g., Mystic Theurge).</li>
                        </ol>
                    </li>
                    <li class="second">Gunslinger is allowed (Emerging guns).</li>
                    <li class="second">Use Unchained variants.</li>
                </ol>
            </li>
            <li class="primary">Alignment
                <ol>
                    <li class="second">Any non-evil alignment is allowed.</li>
                </ol>
            </li>
            <li class="primary">Equipment
                <ol>
                    <li class="second">All characters can have “mundane” equipment of their choosing.</li>
                    <li class="second">No special materials or properties.</li>
                    <li class="second">Characters still get starting gold on top of “mundane” equipment.</li>
                    <li class="second">Ignore encumbrance. It is assumed you can drop your gear at the beginning of battle.</li>
                    <li class="second">Unlimited “normal” ammunition except in special circumstances.</li>
                    <li class="second">No technology.</li>
                </ol>
            </li>
            <li class="primary">Character Advancement
                <ol>
                    <li class="second">Use “Milestone Levelling.”</li>
                    <li class="second">All party members will be at the same level.</li>
                </ol>
            </li>
            <li class="primary">Hit Points
                <ol>
                    <li class="second">Use Max Hit-points.</li>
                </ol>
            </li>
            <li class="primary">Spells and Magic
                <ol>
                    <li class="second">Use Spell memorization per rulebooks.</li>
                    <li class="second">No Spell components are required.
                        <ol>
                            <li class="tert">Players are encouraged to buy:
                                <ol>
                                    <li class="quar">“Spell Component Pouch.”</li>
                                    <li class="quar">“Eschew Material Components” Feat.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li class="second">Spell Concentration is not used.</li>
                    <li class="second">Use the spell templates we have created instead of the “grid” spell areas.</li>
                </ol>
            </li>
            <li class="primary">Combat
                <ol>
                    <li class="second">Bleed is not used.</li>
                    <li class="second">Critical hits
                        <ol>
                            <li class="tert">A roll of a 20 is always a critical, unless a 20 is the only way you could hit the opponent. In this case, the Natural 20 is still a hit, but must be confirmed to be a critical.</li>
                        </ol>
                    </li>
                    <li class="second">Surprise Round
                        <ol>
                            <li class="tert">If surprised (unaware), you are considered flat-footed until your turn and do not get to act in the surprise round.</li>
                            <li class="tert">If not surprised, you may take a Move or a Standard action.</li>
                            <li class="tert">Even if you have already gone, you are still considered flat-footed vs. undetected (Stealth or Invisible) opponents.</li>
                        </ol>
                    </li>
                    <li class="second">Precision Damage
                        <ol>
                            <li class="tert">If any of your attacks qualify for precision damage (backstab) during a round, then all of your attacks versus the same opponent qualify for precision damage.</li>
                            <li class="tert">You cannot use precision damage against an opponent who has concealment.</li>
                            <li class="tert">Sniping (Attack at range, while stealthy)
                                <ol>
                                    <li class="quar">Can grant precision damage if applicable, typically to a target which has not seen you.</li>
                                    <li class="quar">After your attack, if you have not moved, you may make a stealth check. If successful, then you have not been spotted and may attack from stealth the next round.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li class="second">Movement
                        <ol>
                            <li class="tert">Diagonal movement is still 5’ per square; no normal square counts double.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="primary">Skill and Ability checks
                <ol>
                    <li class="second">A roll of a 20 is always a success, and a roll of a 1 is always a failure.</li>
                </ol>
            </li>
            <li class="primary">Poison
                <ol>
                    <li class="second">Characters use the Unchained Poison rules.</li>
                    <li class="second">Encounters use the rules as written.</li>
                </ol>
            </li>
            <li class="primary">Saving throws
                <ol>
                    <li class="second">A natural 20 is always a success.</li>
                    <li class="second">A natural 1 is always a failure.</li>
                    <li class="second">Items do not need to make a check on a natural roll of a 1.</li>
                </ol>
            </li>
            <li class="primary">Spell DC’s
                <ol>
                    <li class="second">Spell DC is based on the highest-level spell the caster can cast, not the spell’s actual level.</li>
                </ol>
            </li>
            <li class="primary">Magic items and Items carried
                <ol>
                    <li class="second">Cannot be damaged or broken unless specifically targeted.
                        <ol>
                            <li class="tert">Unless their description says otherwise.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="primary">Feats
                <ol>
                    <li class="second">May use the Elephant in the Room “Weapon groups.”</li>
                    <li class="second">“Bladed Brush” works with Spell Combat and Spell Strike.</li>
                    <li class="second">Banned Feats
                        <ol>
                            <li class="tert">Leadership.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="primary">Traits
                <ol>
                    <li class="second">Must take at least one Campaign trait.</li>
                    <li class="second">May take a second trait at no cost.</li>
                    <li class="second">May take a third trait, but will also take a drawback of GM’s choice.</li>
                </ol>
            </li>
            <li class="primary">Fear
                <ol>
                    <li class="second">Modify the different stages of Fear as follows:
                        <ol>
                            <li class="tert">Shaken: -2 Penalty on Attack Rolls, Saving Throws, Skill Checks, Ability Checks.</li>
                            <li class="tert">Frightened: -4 Penalty on Attack Rolls, Saving Throws, Skill Checks, Ability Checks. Cannot take a full round action.</li>
                            <li class="tert">Panicked: -6 Penalty on Attack Rolls, Saving Throws, Skill Checks, Ability Checks. Can only take one action per turn.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="primary">Sickened and Nauseated
                <ol>
                    <li class="second">Modify the different stages as follows:
                        <ol>
                            <li class="tert">Sickened: –2 Penalty on all Attack Rolls, Weapon Damage Rolls, Saving Throws, Skill Checks, and Ability Checks.</li>
                            <li class="tert">Nauseated: –4 Penalty on all Attack Rolls, Weapon Damage Rolls, Saving Throws, Skill Checks, and Ability Checks. Can only take one action per turn. Cannot cast spells with a verbal component.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </main>
{% endblock %}