<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Date:   4/14/2023
    Finished: 5/5/2023
    -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Pathfinder characters that are played in the PathSix weekly games."/>
    <title>PathSix Characters</title>

    <link rel="stylesheet" href="{{ url_for('jade.static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="head">
            <img src="{{ url_for('jade.static', filename='images/pathSixColorLogo.png') }}" alt="The Pathfinder 6">
        </div>
        <nav class="navSecond">
            <a href="#" id="navicon">
                <img src="{{ url_for('jade.static', filename='images/navicon.png') }}" alt="">
            </a>
            <ul>
                <li><a href="{{ url_for('winterMain.index') }}">Home Page</a></li>
                <li><a href="{{ url_for('jade.index') }}">Jade Regent Home</a></li>
                <li><a href="{{ url_for('jade.book6') }}">Adventure Log</a></li>
                <li><a href="{{ url_for('jade.characters') }}">Characters</a></li>
                <li><a href="{{ url_for('jade.about') }}">About Us</a></li>
            </ul>
        </nav>    
    </header>
</body>
</html>


		<main class="adLogs">

			

			<h1>Adventures - Book 4</h1>
			<button onclick="window.location.href='#bottomEntry';">Jump to Bottom</button>
			<button onclick="window.location.href='book5';">Book 5</button>
			<button onclick="window.location.href='book6';">Book 6</button>
			<h4>April 13th, 2023</h4>
			<p>We conquered the mountain pass! Although we never doubted our resolve, emerging to the vast openness of the sky was a true relief—especially with the chilling howls of yetis echoing behind us, ensuring we wouldn't dare a return journey anytime soon...</p>
			<br>
			<p>Emerging from the shadows of the mountains, we discovered a bustling city, ruled by the venerable Prince Batsaikhar. With open arms, he greeted us, celebrating our arrival with a lavish five-day feast. Amidst the revelry, the prince's entertainers dazzled us with their artistry, challenging us to demonstrate our own skills. Tim showcased his prodigious strength, Edam his breathtaking acrobatics and riding finesse, and Haldir his masterful oration and dramatic flair—all to the delight of Prince Batsaikhar and his court.</p>
			<br>
			<p>The culmination of the festivities was marked by a grand parade in our honor, yet under the jubilation, dark plots were unfolding. We were ambushed by cunning assailants in disguise! Tune in next week to find out if we can unveil the shadowy figures behind this treacherous attack.</p>
			<hr>
			<h4>April 20th</h4>
			<a target="_blank" rel="noopener" href="{{ url_for('jade.static', filename='images/Miyaro.png') }}"><img src="{{ url_for('jade.static', filename='images/Miyaro.png') }}" alt="" class="logLeftPic"></a>
			<p>In the tumultuous aftermath of last week's skirmish, a figure emerged from the chaos—Miyaro, a mysterious entity, who swiftly turned the tide against the attacking ninjas. As the dust settled and the last of the ninjas fell, the crowd's panic grew palpable. Miyaro introduced herself as a Kami spirit, revealing she had foreseen our arrival the moment we opened the warding box of the Amatatsu Seal. With the seal's ward broken, it signaled to hidden enemies that it had been rediscovered.</p>
			<br>
			<p>Miyaro explained that we were now targets of the Five Storms, assassins sent by the Jade Regent, the usurper currently occupying the throne of Minkai. The rightful emperor's fate remains a mystery, lost to time and whispered rumors.</p>
			<br>
			<p>The path to uncovering the truth leads to Minkai, yet our large caravan limits our ability to travel unnoticed. Miyaro advised a covert route through the enigmatic Forest of Spirits. She assured us this path would shield us from the frequent ambushes plaguing the main roads.</p>
			<br>
			<p>Heeding Miyaro's counsel, we departed Ordu-Aganhei. As the Forest of Spirits looms ahead, our journey to Minkai begins, shrouded in both literal and metaphorical mist.</p>
			<hr>
			<h4>April 27</h4>
			<a target="_blank" rel="noopener" href="{{ url_for('jade.static', filename='images/forestSpirts.jpg') }}"><img src="{{ url_for('jade.static', filename='images/forestSpirts.jpg') }}" alt="" class="logRightPic wide"></a>
			<p>Guided by our ethereal guide Miyaro, our path through the Forest of Spirits has been both wondrous and perilous. We've encountered numerous forest spirits, most benign but a few mischievous. Tim, in particular, required urgent intervention after a playful spirit decided to inhabit him, prompting an impromptu performance of ancient Tian Xia songs in Tian—our half-orc friend's rendition was certainly... memorable.</p>
			<br>
			<p>After days of weaving through the mystical woods, we reached a tranquil grove inhabited by benevolent spirits. Grateful for Miyaro's assistance and mindful of the challenges that still lay ahead on our journey to Minkai, we felt compelled to honor their request for aid. The spirits have directed us to explore the eerie House of Withered Blossoms. Additionally, Akumi, a fukujin kami, has entrusted us with a delicate mission to reclaim his cherished bonsai tree, now held captive by hobgoblins within the house.</p>
			<hr>
			<h4>April 28</h4>
			<a target="_blank" rel="noopener" href="{{ url_for('jade.static', filename='images/witheredBlossoms.jpg') }}"><img src="{{ url_for('jade.static', filename='images/witheredBlossoms.jpg') }}" alt="" class="logLeftPic wide"></a>
			<p>We arrived at the House of Withered Blossoms as the day waned, setting up camp outside the decrepit pagoda dubbed the “house.” As the sun dipped below the horizon, the seemingly lifeless vines ensnaring the pagoda awoke, writhing and expanding at an unnatural pace. Through the night, our watch observed these vines bloom into a spectacular cascade of petals and leaves, hinting at lurking movements within the newly formed underbrush. With dawn, the spectacle ceased, the vines shriveled once more, and the stench of decay filled the air.</p>
			<br>
			<p>Come morning, we braved the interior of the tower, only to find it riddled with devious traps. A colossal front door, adorned with carved faces, unleashed a volley of daggers upon our approach. Inside, traps lay hidden beneath our feet, though we managed to disable most as we encountered them. Ignoring a gaping hole on the ground floor, we ascended, navigating through traps and an assortment of undead horrors—one chillingly paralyzing with its touch. At the pinnacle, we faced off against bizarre, magical arachnid creatures. These foes spun webs, conjured illusions, and vanished from sight. After a taxing battle, we emerged victorious, though exhausted by the ordeal.</p>
			<hr>
			<h4>June 3</h4>
			
			<p>As we ascended through the eerie pagoda known as the House of Withering Blossoms, our path was again barred by spiders—this time different in kind but equally grotesque. We vanquished these creatures and reached the pagoda’s apex, only to be greeted by an unexpected sight after battling through thick layers of cobweb. There, amidst the ancient decay, sat a corpulent figure cloaked in filthy silk robes that seemed decades old. Insects and spiders wove in and out of his robes and skin, with him occasionally snatching one to eat as a macabre snack.</p>
			<br>
			<p>This unseemly resident did not welcome our intrusion. With a sharp whistle, he summoned a cadre of robed women wearing black masks. These figures conjured shadowy spiders that drained our strength and assaulted us with daggers.</p>
			<br>
			<p>Our foe revealed his true nature when he emerged from his palanquin, transforming into a monstrous spider-human hybrid. This creature scurried across walls and ceilings, dodging our attacks with infuriating agility. The battle raged fiercely, but ultimately, Edam, empowered by a fly spell from his celestial armor, soared to confront the beast. With Haldir's relentless magical assaults softening our enemy, Edam delivered the decisive blow, ending the reign of terror within the House of Withering Blossoms.</p>
			<hr>
			<h4>June 10</h4>
			
			<p>Ascending further into the pagoda, we discovered the top two floors starkly vacant—evidently the former quarters of the shadowy assailants we had recently dispatched.</p>
			<br>
			<p>With curiosity drawing us back to the ground floor, we revisited the ominous hole we had bypassed earlier. Peering into the abyss revealed only smooth walls plunging into darkness. Proceeding with caution, we found stairs after a mere 20 feet, leading us deeper into the unknown.</p>
			<br>
			<p>At the base of the stairs, a massive rock wall confronted us, armed with imposing iron doors and arrow slits. Our initial attempt at parley was swiftly met with a barrage of arrows. Undeterred, Edam and Shura approached the wall, while Aelfread utilized invisibility to fly over, and Haldir magically transported Tim to the other side. The hobgoblins we faced were formidable, delivering painful strikes. Edam, exploiting his halfling agility, managed to climb through an arrow slit to assist Tim, just in time for a healing touch—though not without taking a blow himself. Haldir's magic enabled us to open the doors from within, and together, we overcame the hobgoblin defenders.</p>
			<br>
			<p>Yet, our trials were far from over. After navigating a trap-laden chamber, we encountered a fresh battalion of hobgoblins, led by a towering brute. His size made him an unmistakable target, and he fell swiftly under our coordinated assault. The remaining hobgoblins, in desperation, sealed us within the room and unleashed a fireball. Tim's herculean strength proved crucial as he lifted the massive stone slab that trapped us, allowing us to escape and continue our perilous journey.</p>
			<hr>
			<h4>June 17</h4>
			
			<p>
				As we ventured deeper into the labyrinthine domain of the hobgoblins, it became clear that we were not merely traversing a simple cave, but a vast subterranean fortress teeming with peril. Each room we encountered was a lethal blend of traps and lurking enemies. Our journey led us to a colossal cavern, so immense that a castle, shrouded in the gloom, loomed in the distance—an astounding sight of an underground stronghold.
			  </p>
			  <br>
			  <p>
				Driven by an insatiable curiosity, we pressed on, only to stumble upon the heart of the hobgoblin encampment. We found them embroiled in a fierce debate over their meal. However, their attention swiftly turned to us. With a battle cry, they launched an assault. As their numbers dwindled, they parted, clearing a path for their formidable chieftain. This towering figure of menace issued a challenge of single combat. Without hesitation, Edam stepped forward, accepting the gauntlet thrown down before him.
			  </p>
			  <br>
			  <p>
				The clash was brutal. Edam endured the savage swings of the chieftain's battleaxe, each blow a testament to the chief's strength. Yet, resilience and cunning won the day. With a final, deft maneuver, Edam bested the chieftain, whose sense of honor left him no choice but to meet his own end rather than face defeat by a halfling. Witnessing their leader's fall, the remaining hobgoblins scattered into the shadows. Our party, victorious but weary, retreated to the safety of Haldir's enchanted sanctuary for a well-earned respite.
			  </p>
			<hr>
			<h4>June 24 & July 8</h4>
			
			<p>
				The dungeon crawl intensifies. Following the defeat of their leader, the majority of hobgoblins scattered, yet their presence permeates the entire complex. We're just beginning to uncover the depths of this labyrinth where hobgoblins mingle with stone giants—whether as allies or slaves, it's unclear. Each corner we turn presents new challenges and obstacles.
			  </p>
			  <br>
			  <p>
				Our path led us into the Mockery Pagoda, a sinister structure carved directly from the cavern's rocky walls. The pagoda twists upward, its surfaces etched with grotesque depictions of contorted animal figures, setting a foreboding tone as we delve deeper.
			  </p>
			  <br>
			  <p>
				Climbing the pagoda, we encountered yet another band of hobgoblins. Edam, ever the stealthy scout, ascended a staircase and peered over to find a dozen hobgoblins lying in wait—clearly, our presence was no longer a secret. Forewarned, Edam vanished under the effects of Haldir's greater invisibility spell and surged forward. We plunged into battle, a fierce and protracted melee against these unusually formidable foes. But this pagoda holds more than just toughened hobgoblins. Beyond the fray, a clay golem lurked ominously in the next room, surrounded by walls that whisper horrors of pain and torture. And the hobgoblins themselves? Afflicted with ghastly lesions from leprosy, they lunged at us, desperate to spread their contagion. Amidst the chaos, Shura, our Cleric, was struck—infected by their virulent assault.
			  </p>
			<hr>
			<h4>July 15</h4>
			
			<p>
				Our journey deeper into the crooked pagoda revealed a vast chamber dominated by a gaping pit, from which sinister vapors billowed. The only means to cross was a precarious network of six-inch wide bars spanning the abyss. No sooner had we assessed our path than we were greeted by four agile female hobgoblin monks, ready for confrontation.
			  </p>
			  <br>
			  <p>
				Some of us dared the treacherous walk across the bars to engage the monks in battle. The skirmish took a dramatic turn as Edam found himself at the bottom of the pit, coming eye-to-eye with a gorgon—an encounter as unexpected as it was dangerous. While Tim and Aelfread led the charge to vanquish the monks above, Haldir swooped down to assess Edam’s plight, his magical abilities allowing him to descend with ease. Together, they swiftly dealt with the gorgon, emerging unscathed.
			  </p>
			  <br>
			  <p>
				Progressing further, we stumbled upon four hobgoblin soldiers deep in slumber. True to his paladin’s code, Edam roused them to offer a fair fight. Unsurprisingly, they chose battle, but it was a choice that led to their eternal rest. Shortly thereafter, a singular sight arrested our advance: an ogre garbed as a samurai, who boldly challenged Edam to a duel. As they squared off, the rest of us were ambushed by spiders and a cunning wizard. The ensuing battle tested our mettle, yet fortune smiled upon us, leaving every member of our party standing, victorious and unharmed.
			  </p>
			</p>
			<hr>
			<h4>July 22</h4>
			
			<p>
				Venturing further, we entered a vast cavern, its centerpiece a majestic waterfall cascading into a chasm, encircled by a spiral staircase that twined around the descending waters. Edam, ever cautious, opted to sneak down first, while Shura, ever bold, contemplated a direct descent through the cascading falls.
			  </p>
			  <br>
			  <p>
				At the staircase’s base, ninjas awaited—whether as guards or merely anticipating our arrival was unclear. After a swift conflict, we triumphed, only to discover another peril: a gaping hole in the ground plunging 60 feet into a subterranean waterscape dotted with stepping stones. Opting for prudence over peril, we cast teleport, landing neatly on a dry strip of land adjacent to imposing doors.
			  </p>
			  <br>
			  <p>
				Our next encounter mirrored a previous challenge but with higher stakes. We faced another Ogre Samurai accompanied by a gorgon, whose petrifying breath proved disastrous this time. Edam’s beloved companion, the dog Crash, was tragically turned to stone. Shura, immune to such effects due to his Stone Lord heritage, merely smirked at the gorgon’s attempt and charged into battle. Fueled by fury, Edam unleashed a relentless assault reminiscent of John Wick, swiftly dealing with the gorgon before the group collectively subdued the samurai.
			  </p>
			<br>
			<hr>
			<h4>July 29</h4>
			<p>
				As we ventured deeper into the shadowy depths of the caverns, the atmosphere thickened with danger. Our path was fraught with monstrous creatures, each more eager to devour us than the last. During one harrowing encounter, we faced off against grotesque, legged worms with spindly arms. No sooner had we engaged one of these abominations than five of its kin descended from the ceiling, ambushing us in a flurry of chaos. The battle was fierce, draining our resources significantly as we struggled to prevail.
			  </p>
			  <br>
			  <p>
				Exhausted and battered, our survival hung by a thread until Haldir conjured a spell that enveloped us in a magical veil of protection. Within this sanctuary, we shared a meal and succumbed to a restorative slumber. As dawn broke, we awoke rejuvenated, our spirits lifted and our resolve hardened, ready to delve deeper into the unknown dangers that lay ahead.
			  </p>
			<hr>
			<h4>August 5</h4>
			
			<p>
				The party stumbled upon another abyss, where water cascaded into the depths below. At its base lay a cavern swathed in darkness and filled with cages, each imprisoning its own desolate soul. Edam, first to descend, approached a cage to converse with its ragged occupant, a man whose time in captivity had clearly taken its toll. His attempt to communicate triggered an uproar among the caged, their cries not of anger but of sheer madness. Amidst this chaos, the group was blindsided by a grotesque Ja Noi—an Oni spirit in the guise of a hobgoblin. As we grappled with one, another emerged, doubling the peril.
			  </p>
			  <br>
			  <p>
				After a fierce battle where Tim delivered the fatal blows to both spirits, our path led us to another watery chasm. This tunnel submerged, Edam, tethered by a rope and followed by Aelfread, bravely navigated the underwater passage. They emerged in a cavern awash with four feet of water, strewn with dismembered remains—a grim scene that troubled even the stout-hearted, especially Edam, the halfling, struggling to stay afloat. As the rest of the group joined, something sinister stirred in the water at the cavern's far end. Haldir swiftly employed his slippers of spider climb, and Edam cast "sky steed" on his dog, Crash, to escape the tainted waters.
			  </p>
			  <br>
			  <p>
				Our foes revealed themselves as vile Nagas, launching their introduction with a blazing fireball. The battle raged fiercely, challenged further by the waist-deep water, but we prevailed, vanquishing the serpentine menaces and surviving another day in the perilous depths.
			  </p>
			<hr>
			<h4>August 12</h4>
			
			<p>
				Our adventure took a deeper dive into the cryptic depths as we navigated through the decrepit floors of the House of the Withered Blossoms. Amidst the darkness, our path led us into a haunting room ensnared by chains hanging in a sinister dance from the ceiling. There, a mysterious Tian woman in traditional attire awaited us, her eyes flickering with secret knowledge. She spoke with a chilling calm, insisting that "Nothing in the House of the Withered Blossoms should concern you. My Mistress, the living God, has been confined here and seeks merely to make this her home." Haldir, standing firm, declared our duty to the spirits of the forest, only to be met with her cold rebuttal that it was these spirits who had bound her mistress in these shadowed halls.
			</p>
			<br>
			<p>
				It was then that Edam's sharp eyes caught a glimpse of shadows moving stealthily behind us. He barked a warning just as we were ambushed by ethereal figures, their forms partly obscured by the very chains they wielded as weapons. The woman vanished from sight, swallowed by invisibility. Aelfread quickly murmured an incantation to See Invisibility, and Shura followed with a Purge Invisibility spell. What followed was a fierce clash, our group's resolve tested under the whirl of spectral chains. Yet, through skill and sorcery, victory was ours.
			</p>
			<br>
			<p>
				Our journey through this labyrinthine dungeon did not end there. No sooner had we dealt with the invisible foes than we stumbled upon a library, its silence shattered by the swift attack of hobgoblin ninjas. With neither time for words nor negotiations, blades and spells flew across the room. These guardians of lore fell before our united might, leaving us to ponder their true purpose. Were they merely sentinels for the scrolls and tomes? Among the dust-covered shelves, we uncovered lore of old: the pagoda once imprisoned five malevolent spirits, but four had fled. Only one—the Mistress we had heard of—remained, her presence maintaining the arcane protections of this place. Our next challenge was clear: find a way to lower these wards so the spirits could fulfill their mysterious designs.
			</p>
			<hr>
			<h4>August 19</h4>
			
			<p>
				Edam, ever vigilant, discovered a magical trap guarding the entrance to the next chamber. "What secrets does this place hide?" he wondered aloud as he expertly disarmed the mechanism. With a cautious push, he opened the door, only to be assaulted by a ghastly stench. The walls were a grotesque tapestry of bodies, their forms embedded forcibly into the stone as if molded by a malevolent sculptor.
			</p>
			<br>
			<p>
				Shielding his nose with his hand, Edam stepped inside, his eyes widening at the sight before him. An ancient-looking Tian woman was nonchalantly feasting on the mangled yet still twitching body of an Aranea. Oblivious to our presence, she continued her grim meal. Curiosity overcame revulsion, and Edam ventured across the room to a gaping hole in the floor. Peering inside, he saw golden statues and figures twisted in eternal anguish—a sight so unnerving that it churned his stomach, compelling him to look away.
			</p>
			<br>
			<p>
				As the rest of our party entered, the macabre chamber took on an even darker aspect as shapes began to stir on the walls. Not alive, but not quite dead, zombies peeled themselves from the mural of torment, groaning into the dim light. Amidst this chaos, the ancient woman transformed, revealing her true form—Munasukaru, the "Living Goddess" we had been seeking. Haldir, our skald, gasped at her transformation, recognizing her from the legends whispered in the dark corners of the world.
			</p>
			<br>
			<p>
				The zombies, though menacing, were dispatched with relative ease, but Munasukaru's spellcasting and nimble acrobatics proved a formidable challenge, her movements a blur of grace and lethality. Just as we found ourselves overwhelmed, Shura emerged as the anchor of our resilience, his spells weaving a tapestry of healing light across the battlefield.
			</p>
			<br>
			<p>
				Aelfread, seizing a momentary opening, charged at Munasukaru only to be met with a critical strike from her dreaded weapon—the Thundering Blade of the House of Sugimatu. The shock of the blow staggered him, but he stood resolute. Seeing Aelfread falter, Edam rushed to his aid, flanking the deity. With a chorus of thunder and lightning, Haldir unleashed his mightiest spell, and together, they delivered the final, thunderous blow that silenced the goddess's fury.
			</p>
			<hr>
			<h4 id="bottomEntry">Victory in the House of the Withered Blossoms</h4>
			<a target="_blank" rel="noopener" href="{{ url_for('jade.static', filename='images/witheredBlossom.jpg') }}"><img src="{{ url_for('jade.static', filename='images/witheredBlossom.jpg') }}" alt="" class="logLeftPic tall"></a>
			<p>
				In the shadowed depths of an ancient abyss, our valiant band uncovered a sinister gateway: a demon door hidden deep within the earth. This nefarious portal had once served as the escape route for the vile Anamurumon and his band of oni, who fled the haunted confines of the House of the Withering Blossoms. In their wake, they abandoned the formidable Munasukaru, a once-mighty guardian now trapped and spiraling into madness, her wrath echoing through the empty halls as the protective spirits of the forest were barred entry.
				</p>
				<br>
				<p>
				Driven by tales of trapped souls and haunted echoes, our heroes embarked on a formidable quest within the cursed pagoda. The spirits of the forest, whispering through the leaves, lent their ethereal aid, yet the liberation of the ensnared souls stretched across arduous days and nights. Amidst this ordeal, Shura wielded his healing powers with steadfast resolve, while Haldir, the master of spatial magics, bent the very fabric of reality to teleport the afflicted to safety. In a quiet moment of victory, the team recovered Akumi's cherished bonsai, lost during the chaos. Overwhelmed with gratitude, Akumi pledged his unwavering loyalty to Haldir, vowing to stand by our heroes in the trials that lay ahead.
				</p>
				<br>
				<p>
				The dark truth soon unveiled itself: the demon gate drew its unholy power from the souls we had fought so fiercely to free. With the shadow of the oni's escape looming ominously over us, the path forward was fraught with uncertainty. Our journey now leads us towards the imperial palace of Minkai, where the tangled webs of destiny and power await unraveling, and ancient secrets hover close, veiled in the mists of intrigue and danger.
				</p>
			<hr>
			<div class="bottomLog"></div>
		</main>

		<footer>
			<a href="{{ url_for('jade.book4') }}">Back to Top</a>
			<p>All Rights Reserved</p>
		</footer>
	</body>
</html>