<!DOCTYPE html>
<html lang="en">
<head>
    <!-- March 29, 2024 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content='PathSix is a website for six friends who have been playing RPGs together for three decades. This is the main page for our current Pathfinder campaign, Skull & Shackles.'/>
    <meta name="author" content="William Boone">
    <title>PathSix | Skull & Shackles Rules Page</title>
    
    <!-- Styles & Favicon -->
    <link rel="stylesheet" href="{{ url_for('shackles.static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('shackles.static', filename='images/favicon.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="{{ url_for('shackles.static', filename='images/PathSixLogowhite.png') }}" alt="The Pathfinder 6" id="mainLogo">
        <nav class="navFirst">
            <a href="#" id="navicon"><img src="{{ url_for('shackles.static', filename='images/navicon.png') }}" alt=""></a>
            <ul>
                <img src="{{ url_for('shackles.static', filename='images/flagfill.png') }}" alt="pirate flag" id="headerFlag">
                <li><a href="{{ url_for('shackles.index') }}">Home Page</a></li> 
                <li><a href="{{ url_for('shackles.adventure_log') }}">Adventure Log</a></li>
                <li><a href="{{ url_for('shackles.dice') }}">Dice Roller</a></li>
                <li><a href="{{ url_for('shackles.rules') }}">Rules Page</a></li>
                <img src="{{ url_for('shackles.static', filename='images/flagfill.png') }}" alt="pirate flag" id="headerFlag">
            </ul>
        </nav>
    </header>

        <main>
            <h1>Dice Roller</h1>
            <div class="dice">
                <h3>Roll d4</h3>
                <p>How many would you like to roll?</p>
                <input type="number" id="d4Num" value="1" min="1">
                <button class="roll-button" data-type="d4">Roll</button>
                <h3 id="d4Results">Results:</h3>
                <h3 id="d4Total"></h3>
            </div>
        
            <div class="dice">
                <h3>Roll d6</h3>
                <p>How many would you like to roll?</p>
                <input type="number" id="d6Num" value="1" min="1">
                <button class="roll-button" data-type="d6">Roll</button>
                <h3 id="d6Results">Results:</h3>
                <h3 id="d6Total"></h3>
            </div>
        
            <div class="dice">
                <h3>Roll d8</h3>
                <p>How many would you like to roll?</p>
                <input type="number" id="d8Num" value="1" min="1">
                <button class="roll-button" data-type="d8">Roll</button>
                <h3 id="d8Results">Results:</h3>
                <h3 id="d8Total"></h3>
            </div>
        
            <div class="dice">
                <h3>Roll d10</h3>
                <p>How many would you like to roll?</p>
                <input type="number" id="d10Num" value="1" min="1">
                <button class="roll-button" data-type="d10">Roll</button>
                <h3 id="d10Results">Results:</h3>
                <h3 id="d10Total"></h3>
            </div>
        
            <div class="dice">
                <h3>Roll d12</h3>
                <p>How many would you like to roll?</p>
                <input type="number" id="d12Num" value="1" min="1">
                <button class="roll-button" data-type="d12">Roll</button>
                <h3 id="d12Results">Results:</h3>
                <h3 id="d12Total"></h3>
            </div>
        
            <div class="dice">
                <h3>Roll d20</h3>
                <p>How many would you like to roll?</p>
                <input type="number" id="d20Num" value="1" min="1">
                <button class="roll-button" data-type="d20">Roll</button>
                <h3 id="d20Results">Results:</h3>
                <h3 id="d20Total"></h3>
            </div>
        
            <div class="dice">
            <h3>Roll Percentile</h3>
            <p>How many would you like to roll?</p>
            <input type="number" id="percentileNum" value="1" min="1">
            <button class="roll-button" data-type="percentile">Roll</button>
            <h3 id="percentileResults">Results:</h3>
            <h3 id="percentileTotal"></h3>
            </div>
        
            <h3 id="total">Total of All Rolls: 0</h3>
        
            <br>
            <button id="clearResults">Clear Results</button>
            
        </main>
        
        <footer>
            <div id="foot">
                <a href="{{ url_for('shackles.index') }}" id="footLink">Back to Top</a> 
                <img src="{{ url_for('shackles.static', filename='images/flagfill.png') }}" alt="pirate flag" id="footerFlag">
                <p>All Rights Reserved</p>
            </div>
            <a href="https://www.pathsixdesigns.com" id="foot2">PathSix Web Design</a>
        </footer>
    </body>
    <script src="/js/diceRoller.js"></script>
</html>