<!DOCTYPE html>
<html lang="en">
<head>
    <!-- March 29, 2024 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content='PathSix is a website for six friends who have been playing RPGs together for three decades. This is the main page for our current Pathfinder campaign, Skull & Shackles.'/>
    <meta name="author" content="William Boone">
    <title>PathSix | Skull & Shackles</title>
    
    <!-- Styles & Favicon -->
    <link rel="stylesheet" href="{{ url_for('shackles.static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('shackles.static', filename='images/favicon.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="index-only">
    <header>
        <img src="{{ url_for('shackles.static', filename='images/PathSixLogowhite.png') }}" alt="The Pathfinder 6" id="mainLogo">
        <nav class="navFirst">
            <a href="#" id="navicon"><img src="{{ url_for('shackles.static', filename='images/navicon.png') }}" alt=""></a>
            <ul>
                <img src="{{ url_for('shackles.static', filename='images/flagfill.png') }}" alt="pirate flag" id="headerFlag">
                <li><a href="{{ url_for('winterMain.index') }}">Home Page</a></li>
                <li><a href="{{ url_for('shackles.index') }}">Shackles Home Page</a></li> 
                <li><a href="{{ url_for('shackles.book1') }}">Adventure Log</a></li>
                <li><a href="{{ url_for('shackles.rules') }}">Rules Page</a></li>
                <img src="{{ url_for('shackles.static', filename='images/flagfill.png') }}" alt="pirate flag" id="headerFlag">
            </ul>
        </nav>
    </header>

    <main>
        <div class="hero">
            <img src="{{ url_for('shackles.static', filename='images/heroAlt.jpg') }}" alt="Ship on the sea" class="ship">
            <div class="heroWelcome">
                <h1>Welcome To Our Game Page!</h1>
                <h2>"Skull & Shackles"</h2>
                <h3>The high seas adventure has concluded!</h3>
                <p>
                    Welcome to our thrilling journey through the lawless Shackles, where danger and discovery intertwine! Follow our intrepid adventurer's story on how they navigated uncharted territories in search of adventure. What secrets do the Shackles hold? What challenges did our adventurers face? Dive into our adventure log and join us to uncover the story of the intrepid crew of the pirate ship, <i>Scourge's Bane</i>!
                </p>
                <h2>Read About Our Party's Journey!</h2>
                <p>
                    Warning! Spoilers for the "Skull & Shackles" Adventure Path.
                </p>
                <button onclick="window.location.href='book1';">Adventure Log</button>
            </div>
        </div>

        <section class="container1">
            <div id="shackles">
                <h3>The Adventure Path</h3>
                <p>We are playing the "Skull & Shackles" Adventure Path sold by Paizo, Inc.</p>
                <blockquote>
                    There's adventure to be had on the high seas when a group of press-ganged strangers seizes a ship and becomes embroiled in the plots and politics of the Shackles—an infamous island chain dominated by pirate warlords. But as these new swashbucklers make names for themselves, rival scalawags, enemy navies, legendary sea monsters, and the infamous Hurricane King himself seek to see them walk the plank. Who will survive when there's glory to plunder?
                </blockquote>
                <cite>&mdash; Paizo Adventure Path Teaser</cite>
            </div>
            <a href="{{ url_for('shackles.static', filename='images/shackles_detail.jpg') }}" target="_blank">
                <img src="{{ url_for('shackles.static', filename='images/the_shackles_map.jpg') }}" alt="Shackles Map" id="shacklesMap">
            </a>
        </section>

        <aside class="container2">
            <a href="https://www.d20srd.org/srd/variant/classes/gestaltCharacters.htm">
                <img src="{{ url_for('shackles.static', filename='images/gestalt-link.jpg') }}" alt="Link to Gestalt characters rules">
            </a>
            <a href="https://www.aonprd.com/Rules.aspx?ID=854">
                <img src="{{ url_for('shackles.static', filename='images/ship-combat-link.jpg') }}" alt="Ship Combat rules">
            </a>
            <a href="/JadeRegent/index.html">
                <img src="{{ url_for('shackles.static', filename='images/jade-regent-link.jpg') }}" alt="Our last adventure">
            </a>
            <a href="https://www.sortekanin.com/collection/items/">
                <img src="{{ url_for('shackles.static', filename='images/SorteKanin_link.jpg') }}" alt="SorteKanin Treasure Database">
            </a>
        </aside>
        <div class="container3">
            <img src="{{ url_for('shackles.static', filename='images/ship-side.png') }}" alt="Image of ship and coast">
        </div>
        
        <div class="container4 pop">
            <h1>The Crew</h1>
            <div class="subCon1">
                <figure>
                    <img src="{{ url_for('shackles.static', filename='images/Kasmira.jpg') }}" alt="Kasmira">
                    <figcaption>
                        <p>Kasmira de la Torre</p>
                        <p>Human Gunslinger/Rogue</p>
                        <a href="{{ url_for('shackles.static', filename='images/kasmira20.pdf') }}" target="_blank"><u>Character Sheet</u></a>
                    </figcaption>
                </figure>
                <img src="{{ url_for('shackles.static', filename='images/Kasmira.jpg') }}" alt="Kasmira" class="kasmira">
        
                <figure id="finn">
                    <figcaption>
                        <p>Finn</p>
                        <p>Undine Kineticist/Rogue</p>
                        <a href="{{ url_for('shackles.static', filename='images/finn20.pdf') }}" target="_blank"><u>Character Sheet</u></a>
                    </figcaption>
                    <img src="{{ url_for('shackles.static', filename='images/Finn.jpg') }}" alt="Finn">
                </figure>
                <img src="{{ url_for('shackles.static', filename='images/Finn.jpg') }}" alt="Finn" class="finn">
            </div>
        
            <div class="empty"></div>
        
            <div class="subCon2">
                <figure id="red">
                    <figcaption>
                        <p>Red</p>
                        <p>Dwarven Inquisitor/War Priest</p>
                        <a href="{{ url_for('shackles.static', filename='images/red20.pdf') }}" target="_blank"><u>Character Sheet</u></a>
                    </figcaption>
                    <img src="{{ url_for('shackles.static', filename='images/red.jpg') }}" alt="Red">
                </figure>
                <img src="{{ url_for('shackles.static', filename='images/red.jpg') }}" alt="Red" class="red">
        
                <figure>
                    <img src="{{ url_for('shackles.static', filename='images/Varen2.jpg') }}" alt="Varen">
                    <figcaption>
                        <p>Varen Galashantar</p>
                        <p>Aquatic Elf Gunslinger/Magus</p>
                        <a href="{{ url_for('shackles.static', filename='images/varen20.pdf') }}" target="_blank"><u>Character Sheet</u></a>
                    </figcaption>
                </figure>
                <img src="{{ url_for('shackles.static', filename='images/Varen2.jpg') }}" alt="Varen" class="varen">
            </div>
        </div>
        <hr>
        <section class="container5">
            <div>
                <div class="blog2">
                <h3>An excerpt from our last adventure entry:</h3>
                <h2>February 1, 2025</h2>
                <h3>The Hurricane Crown</h3>
                <img src="/shackles/static/images/group.jpg" alt="The officers of the Scourge's Bane" class="right">
                <p>The <i>Filthy Lucre</i> was silent now, its decks slick with blood and seawater, the bodies of its last defenders sprawled in the dim lantern glow. Kasmira de la Torre holstered her pistols, exhaling as the rush of battle faded. The victory was theirs. But one thing remained undone—the treasure of Kerdak Bonefist.</p>

                <p>“It’s not enough to kill a tyrant,” she said, voice firm. “We need his plunder. Let the world see the spoils of the Hurricane King.”</p>

                <p>Her crew nodded, understanding the weight of pirate tradition. Victory meant wealth, meant proof, meant glory. And so they left the <i>Filthy Lucre</i> behind and turned toward the looming silhouette of the buildings on the nearby pier.</p>
                </div>
                <div class="blog2" id="blog-container"></div>
                <div class="blog2"><p>You can find our entire story in the <a href="{{ url_for('shackles.book1') }}">Adventure Log</a></p></div>
                <div class="blog3">
                    <a href="{{ url_for('shackles.static', filename='images/gallery_image18.jpg') }}">
                        <img src="{{ url_for('shackles.static', filename='images/gallery_image18.jpg') }}" alt="Mini Gallery Images">
                    </a>
                    <a href="{{ url_for('shackles.static', filename='images/gallery_image19.jpg') }}">
                        <img src="{{ url_for('shackles.static', filename='images/gallery_image19.jpg') }}" alt="Mini Gallery Images">
                    </a>
                </div>
            </div>
        
            <div class="blog3">
                <h3>Miniatures Gallery</h3>
                <a href="{{ url_for('shackles.static', filename='images/gallery_image1.jpg') }}">
                    <img src="{{ url_for('shackles.static', filename='images/gallery_image1.jpg') }}" alt="Mini Gallery Images">
                </a>
                <a href="{{ url_for('shackles.static', filename='images/gallery_image2.jpg') }}">
                    <img src="{{ url_for('shackles.static', filename='images/gallery_image2.jpg') }}" alt="Mini Gallery Images">
                </a>
                <a href="{{ url_for('shackles.static', filename='images/gallery_image3.jpg') }}">
                    <img src="{{ url_for('shackles.static', filename='images/gallery_image3.jpg') }}" alt="Mini Gallery Images">
                </a>
                <a href="{{ url_for('shackles.static', filename='images/gallery_image4.jpg') }}">
                    <img src="{{ url_for('shackles.static', filename='images/gallery_image4.jpg') }}" alt="Mini Gallery Images">
                </a>
                <a href="{{ url_for('shackles.static', filename='images/gallery_image5.jpg') }}">
                    <img src="{{ url_for('shackles.static', filename='images/gallery_image5.jpg') }}" alt="Mini Gallery Images">
                </a>
                <a href="{{ url_for('shackles.static', filename='images/gallery_image6.jpg') }}">
                    <img src="{{ url_for('shackles.static', filename='images/gallery_image6.jpg') }}" alt="Mini Gallery Images">
                </a>
            </div>
        </section>    
    </main>

    <hr>
    <footer>
        <div id="foot">
            <a href="{{ url_for('shackles.index') }}" id="footLink">Back to Top</a> 
            <img src="{{ url_for('shackles.static', filename='images/flagfill.png') }}" alt="pirate flag" id="footerFlag">
            <p>All Rights Reserved</p>
        </div>
        <a href="https://www.pathsixdesigns.com" id="foot2">PathSix Web Design</a>
    </footer>

    <script src="{{ url_for('shackles.static', filename='js/blog_fetch.js') }}"></script>
    <script src="{{ url_for('shackles.static', filename='js/scrollEffect.js') }}"></script>
</body>
</html>
